.projects {
    .header {
        .right {
            position: relative;
            top: -4px;
            right: -10px;
        }

        .middle {
            position: relative;
            top: -2px;
        }
    }
}